{% extends 'constructCVapp/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    You are loggred in as {{ user.username }}
    <form action="{% url 'logOutUser' %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-dark">Log out</button>
    </form>

    <a role="button" class="btn btn-outline-dark" href="{% url 'createCV' %}">Create CV</a><br>
    <div class="text-center">
        {% for file in files %}
            {{ file.firstName }}
            {{ file.secondName }}
            <a href="{{ file.fileCV }}" target="_blank">File</a><br>
        {% endfor %}
    </div>
</body>
</html>
{% endblock %}