{% extends 'constructCVapp/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #username {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #password1 {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    #password2 {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
</style>
<body>

<div class="text-center">
    <h3>Sign up</h3>
</div>

    {% if error %}
        {{ error }}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
         <div class="text-center">
            <div class="form-group">
                <label for="username" id="username">Username</label>
                <input type="text" name="username" class="form-control" id="username">
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" name="password1" class="form-control" id="password1">
            </div>
            <div class="form-group">
                <label for="password2">Confirm password</label>
                <input type="password" name="password2" class="form-control" id="password2">
            </div><br>
             <button type="submit" class="btn btn-outline-dark">Sign up</button>
        </div>

    </form>
    <div class="text-center">
        <i>You are already have an account?</i> <a href="{% url 'logInUser' %}" class="link-dark">Log in here</a><br>
        or<br>
        <a role="button" class="btn btn-outline-dark" href="{% url 'mainPage' %}">Back to main page</a>
    </div>

</body>
</html>

{% endblock %}